
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="register-login">
    <header>
      <div class="headerTop">
        <div class="logo"><img src="/images/logo-mercado-liebre.svg" alt="logotipo"/>
        </div>
        <div class="barra">
          <form action="">
            <input type="text" placeholder="Buscar productos, marcas" />
            <button><i id="buscador" class="fas fa-search"></i></button>
          </form>
        </div>
        <p>
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
      </div>
      <nav>
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a>
          </li>
          <li>
            <a href="">Mis compras <i class="fas fa-shopping-basket"></i> </a>
          </li>
          <br />
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
      
    </header>

    <main>
        <div class="contenedor">
          <h2>Registrate</h2>
          <form action="">

            <div>
              <div class="container-input">
                <input class="text" type="text" placeholder="Nombre y Apellido" name="fullName">
            </div>

            <div class="container-input">
                <input class="text" type="text" placeholder="Nombre de usuario" name="userName">
            </div>

            <div class="container-input">
              <input class="text" type="email" placeholder="email" name="email">
          </div>
            </div>

            <h3>Fecha de nacimiento</h3>
            <div class="container-input">
                <input class="text" type="date" name="date">
            </div>

            <div class="container-input">
                <input class="text" type="text" placeholder="Domicilio" name="domicilio">
            </div>

            <h3>Perfil de usuario</h3>
            <div class="container-input">
                <input class="radio" type="radio" name="perfil" value="comprador" id="comprador"> <label for="comprador">Comprador</label>
                <input class="radio" type="radio" name="perfil" value="vendedor" id="vendedor"> <label for="vendedor">Vendedor</label>
            </div>

            <h3>Intereses</h3>
            <div class="container-input">
                <input class="check" type="checkbox" name="intereses" value="electro" id="electro"> <label for="electro">Electro</label>                
            </div>

            <div class="container-input">
              <input class="check" type="checkbox" name="moda" value="moda" id="moda"> <label for="moda">Moda</label>                
          </div>

          <div class="container-input">
            <input class="check" type="checkbox" name="hogar" value="hogar" id="hogar"> <label for="hogar">Hogar</label>                
        </div>

          <div class="container-input">
            <input class="check" type="checkbox" name="jugueteria" value="jugueteria" id="jugueteria"> <label for="jugueteria">Jugueteria</label>                
        </div>

        <div class="container-input">
          <input class="check" type="checkbox" name="vida-sana" value="vida-sana" id="vida-sana"> <label for="vida-sana">Vida Sana</label>                
         </div>
      
         <h3>Foto de perfil</h3>
        <div class="container-input">
        <input class="subirArchivo" type="file" name="img">                
        </div>

        <div class="container-input">
          <input class="text" type="password" name="pass" placeholder="Contraseña" minlength="8">
        </div>

        <div class="container-input">
          <input class="text" type="password" name="repeat-pass" placeholder="Repetir contraseña" minlength="8">
        </div>

        <div class="containerButtons">
          <button class="btn-verde" type="submit">Registrarse</button>
          <button class="btn-rojo" type="reset">Resetear</button>
        </div>

        </form>

        </div>      
    </main>
    <footer>
      <div class="contenedorFooter">
      <section>
        <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo
          en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <i class="fas fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <i class="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
    </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>