*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --colorAmarillo : #EAC926;
  --colorAzul: #03264C;
  --colorCeleste:  #1259c3;
  --colorGrisOscuro: #666;
  --colorGrisClaro : #ebebeb;
  --colorVerde: #39b54a;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--colorGrisClaro);
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

h2{
  font-size: 24px;
  margin: 15px 0 15px 0;
  color: var(--colorGrisOscuro);
}

h4{
  color: var(--colorGrisOscuro);
  font-size: 16px;
  display: none;
}

p{
  font-size: 12px;
}


header{
  background-color:  var(--colorAmarillo);   
}

header .headerTop{
  display: flex;    
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

header .logo{
  width: 45%;
  margin: 0 0 10px 10px;
  margin: 10px;
}

header .headerTop .search{
  border-radius: 5px;
  color: var(--colorGrisOscuro);
  font-size: 14px;   
}

header .search input{
  width: 80%;
  padding: 10px 0 10px 0;
}

header .search button{
  padding: 10px 0 10px 0;
}

header p{    
  font-size: 12px;
  padding-top: 15px;
  color: black;
  margin: auto;
}

header li{
  font-size: 12px;
  display: none;
}

header li a{
  color: black;
}

header .burger-menu{
  background-color: var(--colorCeleste);
  color: var(--colorGrisClaro);
  font-size: 20px;
  display: inline-block;
  text-align: center;
  padding: 10px 12px;
  border-radius: 5px;
  margin: 0px 48% 20px;
}

#banner img{
  max-width: 100%;
  height: auto;
  width: 100%;
  margin:0;
  display:block;
  padding: 0;
}

main{
  max-width: 90%;      
  align-items: center;  
  margin: auto;  
}

main article{
  margin-bottom: 10px;
  background-color: #ffffff;    
}

main section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

main section h2{
  width: 100%;
}

main article img{
  max-width: 100%;
  display: block;
  margin: auto;
}

main .descripcion{
  border-top: 1px solid var(--colorGrisClaro);
  padding: 15px;
  position: relative;
}

main article i{
  color: var(--colorVerde);
  border-radius: 50%;
  border: 1px solid var(--colorVerde);
  padding: 5px;
  font-size: 16px;
  width: 30px;
  background-color: #fff;
  display: block;
  position: absolute;
  right: 20px;
  top: -15px;
}

main article .descripcion .precioDescuento{
  display: flex;
}

main article p:nth-child(even){
  color: var(--colorVerde);
  font-size: 16px;
  flex-grow: 0.7;
}

main article p{
  font-size: 18px;
  flex-grow: 0.3;
}

footer{
  text-align: center;
  color: var(--colorGrisOscuro);
  background-color: #fff;
}

footer i{
  font-size: 2em;
  color: var(--colorCeleste);
  margin-bottom: 10px;
  margin-top: 50px;
}

footer p{
  margin-right: 40px;
  margin-left: 40px;
  font-size: 12px;
}

footer .copyright{
  margin-top: 40px;
  margin-left: 20px;
  text-align: left;
}

/* Responsive Tablet */

@media (min-width:768px){
  header li{
      font-size: 12px;
      display: block;
  }
  h4{
      display: block;
      margin-top: 10px;
  }
  article{
      box-shadow: 0px 0px 10px rgb(100, 100, 100); 
      width: 40%;      
  }
  header .burger-menu{
      display: none;
  }
  header li{
      margin-left: 10px;
  }

  header .headerTop{   
      display: flex;
      flex-wrap: nowrap;     
      margin: 20px;
  }
  
  header .logo, header .search, header p{
      width: 30%;        
  }

  header .logo{
      margin-right: 30px;
  }
  
  header .search input, header .search button{
      padding:0;
  }

  header nav{
      display: flex;
      justify-content: space-between;
  }

  header nav ul{
      display: flex;        
      justify-content: space-between;
      margin: 0 20px;
  }

  header nav ul li{
      margin: 20px 10px;
  }
}

/* Responsive Desktop */

@media (min-width:1024px){
  article{
      width: 20%;      
  }
}