/* Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
Familia: 'Roboto'

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

 */
/* .ultima-visita {
   background-color: #ebebeb;
 }
 
 .ofertas {
   background-color: #ebebeb;
 } */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: #ebebeb;
}

header {
  background-color: #eac926;
}

.logo {
  width: 120px;
  margin: 25px 0 10px 25px;
}

.search {
  padding-left: 15px;
}

.btn-search {
  display: block;
}

.inline-p {
  padding-left: 40px;
}

ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
}

ul li a {
  text-decoration: none;
  padding-right: 4px;
}

.btn-burguer {
  background-color: #03264c;
  color: #fff;
  border-radius: 5px;
  padding: 8px 10px;
  margin: 10px 0 20px 150px;
}

.text {
  font-size: 12px;
  margin: 2px 0 40px 0;
}

article {
  text-align: center;
}

.heading {
  font-size: 24px;
}

.price {
  font-size: 18px;
}

.discount {
  font-size: 16x;
}

.description {
  font-size: 16px;
}

footer {
  padding: 80px 30px 20px 30px;
  background-color: #fff;
}

.footer-content {
  text-align: center;
}

.heading-footer {
  font-size: 24px;
  margin: 0px;
}

.footer-icon-margin {
  margin-bottom: 10px;
}



/* Login y Register */

.contenedor h2{
  text-align: center;
  color: black;
}

.register-login .contenedor{
  width: 90%;
  margin: 0 auto;
  max-width: 375px;
}

.register-login .contenedor .container-input{
  display: flex;
  margin: 20px 0;
}

.register-login .contenedor .container-input input.text{
  width: 100%;
  
}

.register-login .contenedor .container-input input.radio{
  margin: 0 20px;
}

.register-login .contenedor .container-input input.check{
  margin: 0 20px;
}

.register-login .contenedor .container-input .subirArchivo {    
  background-color: #b6c2e9;    
  border-radius: 5px;
}

/* Botones */

.register-login .contenedor .containerButtons {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.register-login .contenedor .containerButtons button {
  color: #fff;
}